{
    background: darkolivegreen;
    font-size: 62.5%;
}

header{
    height: 80px;
    width: 100%;
    background: rgb(83, 92, 100);
}

body{
    background:rgb(135, 153, 82) ;
}

.conteiner{ /*caixa na parte de cima do cima do site que entra o título principal*/
    height: 65px;
    width: auto;
    padding: 0 auto;
    margin: 2px;
    border: 4px solid rgba(212, 141, 26, 0.513);
}
/*Texto do título/finalidade do site .prim_text*/
.prim_text{
    font-family: Trebuchet;
    font-weight: bolder;
    font-size: 2.3rem;
    text-align: center;
    color: orange;
    text-shadow: 3px 3px 5px black  ;
}

.title_m{/* Título do meio(parágrafos)*/
    font-family: Arial;
    color: rgb(170, 88, 88)

}
 
} 
    
div{
    font-family: Arial;
    font-size: 1.6rem;
    height: 80% ;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    border: 3px solid rgb(red, green, blue);
    border-radius: 5px   ;
    background: rgb(207, 149, 73);
    text-align: center;
}

.formulario{/*config texto na parte do formulário*/
    font-family: Arial;
    font-size: 1.6rem;
    color: cornsilk;
    width: auto;
    height: auto;
    border: 0ch;
    background: brown;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    color: goldenrod ;
    text-align: center;
    text-shadow: gray 2px 2px 2px;
    
}


